body {
    background-color: #f6f6f6;
    font-family: 'Fira Sans',sans-serif;
}
a{
    text-decoration: none;
}
header{
    height: 80px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 3px #d5d5d5;
    font-size: 18px;
}
.header, .footer{
    height: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.avatar{
    display: flex;
    max-width: 300px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.avatar-img{
    border: 2px solid #bebebe;
    border-radius: 50%;
}
.avatar-text{
    margin-left: 20px;
    pointer-events: none;
}
.contacts {
    position: relative;
}
.caontacts-text{
    padding-bottom: 5px;
    color: #32c3e5;
    font-weight: bold;
    border-bottom: 2px dotted #32c3e5;
}
.contacts-hide {
    display: none;
}
.contacts:hover .contacts-hide {
    display: block;
    position: absolute;
    width: 191px;
    height: 141px;
    right: -40px;
    top: 22px;
}
.contacts-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #dedede;
    background-color: #fff;
}
.contacts-hide_item{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    border-radius: 15px;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}
.contacts-hide_item:hover{
    background-color: #ccc;
    cursor: pointer;
}
main{
    height: calc(100vh - 80px - 50px);
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
nav{
    height: 100%;
}
ul.menu{
    margin: 0;
    padding: 0;
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.menu-items{
    margin-bottom: 25px;
    font-size: 18px;
}
.menu-items_link{
    display: block;
    color: #414141;
    border-right: solid 4px transparent;
    text-align: end;
    padding: 10px 20px 10px 0px;
}
.menu-items_link:hover {
    border-right: solid 4px #33c2e4;
    color: #32c3e5;
}
footer{
    height: 50px;
    width: 100%;
    background-color: #414141;
}
.social-menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
}
.social-item{
    height: 100%;
    margin-left: 8px;
}
.social-item_link{
    border-radius: 50%;
    background-color: #9c9c9c;
    padding: 8px;
    color: #414141;
    font-size: 20px;
}
.social-item_link:hover{
    background-color: #5d99c3;

}

.image{
    width: 340px;
    height: 100%;
}
.textInfo{
    width: 385px;
    height: 100%;
}